@font-face {
    font-family: title;
    src: url(/fonts/Aladin-Regular.ttf)
}
@font-face {
    font-family: itty;
    src: url(/fonts/Itty\ Bitty\ Notebook.otf);
}
@font-face {
    font-family: traveling;
    src: url(/fonts/TravelingTypewriter.ttf);
}
@font-face {
    font-family: teen;
    src: url(/fonts/teen\ bd.ttf);
}
body {
    background-color: rgb(53, 53, 53);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
}
#background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: brightness(50%) blur(5px);
    z-index: -1;
}
#header {
    height: 64px;
    max-height: 64px;
    background-color: rgb(181, 226, 226);
    display: flex;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.2);
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    transition: all 400ms;
}

.main {
    margin-top: 100px;
}

.menuIcon_open {
    font-size: 50px;
    margin-left: 20px;
    color: rgb(41, 95, 95); 
    cursor: pointer;
    transition: all 400ms;
    margin-top: auto;
    margin-bottom: auto;
}
.menuIcon_close {
    font-size: 63px;
    color: rgb(41, 95, 95);
    cursor: pointer;
    margin-left: 10px;
    transition: all 400ms;
}
.titleBar {
    font-family: title;
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    color: rgb(41, 95, 95);
    cursor: pointer;
    letter-spacing: 2px;
}
.navBar_wrapper {
    height: 80%;
    width: 50%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 14%;
    padding-right: 6px;
    display: inline-flex;
    border: 2px grey solid;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    transition: all 400ms;
    box-shadow: 0 0 16px -3px rgba(0,0,0,0.2);
    justify-content: space-between;
}
.navBar_input {
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    display: block;
    width: 100%;
    background-color: rgb(224, 224, 224);
    border:none;
    padding-left: 10px;
    border-radius: 10px;
    color: rgb(63, 126, 126);
    font-size: 1.3em;
    margin-top: auto;
    margin-bottom: auto;
}
.navBar_results {
    background-color: rgb(181, 226, 226);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 0;
    top: 64px;
    width: 100%;
    height: auto;
    z-index: -1;
    box-sizing: border-box;
    position: absolute;
    box-shadow: 0 22px 22px -22px black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    padding-top: 5px;
}
.navBar_imageWrapper {
    border-radius: 10px;
    width: 20%;
    max-width: 150px;
    height: auto;
    margin: 10px;
    min-width: 100px;
}
.navBar_image {
    border-radius: 10px;
    box-shadow: 0px 0px 11px 6px rgb(0, 0, 0, 0.2);
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: all 500ms;
    display: none;
}
.navBar_image:hover, .navBar_noImage:hover {
    box-shadow: 0px 0px 9px 8px rgb(0, 0, 0, 0.5);
}
.navBar_artist {
    border-bottom: rgb(63, 126, 126) solid 1px;
}
.navBar_noImage {
    border-radius: 10px;
    box-shadow: 0px 0px 11px 6px rgb(0, 0, 0, 0.2);
    height: 230px;
    width: 150px;
    text-align: center;
    font-family: itty;
    cursor: pointer;
    transition: all 400ms;
    overflow: hidden;
    mix-blend-mode: overlay;
    font-size: 33px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navBar_noResults {
    font-family: itty;
    font-size: 3.5vw;
    color: rgb(41, 95, 95);
    display: flex;
    width: 100%;
    height: 100%;
}
.navBar_sortWrapper {
    position: absolute;
    right: 1%;
    top: 69px;
    z-index: 1000;
    box-shadow: 0px 28px 62px -16px rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    display: none;
}
.navBar_sort {
    list-style: none;
    padding: 0;
    margin: 0;
    color: rgb(41, 95, 95);
}
.navBar_sort li {
    height: 27px;
    background-color: rgb(181, 226, 226);
    font-family: itty;
    font-size: 25px;
    margin: 0px;
    padding: 10px;
    cursor: pointer;
    transition: all 400ms;
    box-shadow: 0px 0px 45px 5px rgb(0, 0, 0, 0.2)
}
.navBar_sort li:hover {
    background: rgb(99, 189, 189);
    text-shadow: 6px 5px 4px rgb(0, 0, 0, 0.6);
}
.navBar_sortSelected {
    background-color: rgb(99, 189, 189) !important;
    text-shadow: 6px 5px 4px rgb(0, 0, 0, 0.6);
}
.navBar_noResults span {
    margin: auto;
    text-align: center;
}
.navBar_input::placeholder {
    color: rgba(0, 105, 105, 0.5);
    font-size: 1em;
}
.navBar_icon {
    font-size: 50px;
    color: rgb(41, 95, 95); 
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    transition: all 500ms;
    height: 100%;
}
.search_separator {
    border-left: 1px dotted rgb(41, 95, 95);
    height: 100%;
    margin: 0px;
}
.navBar_icon:hover, .menuIcon_open:hover, .menuIcon_close:hover {
    color: rgb(99, 189, 189);
}
.menuIcon_close:hover {
    transform-origin: center;
    transform: rotate(90deg);
}

#menuWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    background-color: rgba(41, 95, 95, 0.74);
    display: none;
}
.menu {
    list-style: none;
    font-family: itty;
    font-size: 4em;
    margin-left: 10%;
    margin-top: 0;
}
.menu li {
    opacity: 0;
    position: relative;
    margin-bottom: 5vw;
}
.menu li a {
    cursor: pointer;
    transition: all 400ms;
    color: rgb(224, 224, 224);
    text-decoration: none;
    outline: 0;
}
.menu li a:hover {
    color: rgb(41, 95, 95);
}
.loader_img {
    width: 70px;
    margin: auto;
    margin-top: 50px;
    display: block;
}
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(181, 226, 226);
    margin-top: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 23px;
    font-family: itty;
    font-size: 1.5em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(41, 95, 95);
    box-shadow: inset rgba(0, 0, 0, 0.3) 0px 0px 31px -6px;
}
.footer a {
    color: rgb(30, 66, 66);
    transition: all 400ms;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline
}
.footer_credits {
    font-size: 0.7em;
}

@media only screen and (max-width: 785px) {
    .titleBar {
        display: none;
    }
    .navBar_wrapper {
        width: 70%;
    }
    .footer_announce {
        font-size: 5vw;
    }
} 
@media only screen and (max-width: 500px) {
    #header {
        height: 55px;
    }
    .navBar_icon {
        font-size: 45px;
    }
    .menuIcon_open {
        font-size: 45px;
    }
    .menuIcon_close {
        font-size: 50px;
    }
    .navBar_sortWrapper {
        top: 60px;
    }
    .navBar_results {
        top: 55px;
    }
    .navBar_wrapper {
        margin-left: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .navBar_noImage {
        height: 150px;
        width: 100px;
        font-size: 15px;
    }
    .navBar_input {
        width: 80%;
        height: 25px;
        font-size: 1em;
    }
    .menu {
        font-size: 11vw;
        margin-left: 0;
    }
    .navBar_results {
        flex-wrap: wrap;
    }
    .navBar_input::placeholder {
        font-size: 0.8em;
    }
}



/* WIDGET */

.slider_widget {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 300px;
    min-width: 80%;
    background-color: rgb(33, 55, 74);
    box-shadow: white 0px 7px 16px -13px;
}
.slider_head_widget {
    width: 100%;
    height: 40px;
    background-color: rgb(91, 159, 174);
    box-shadow: white 0px 7px 8px -9px;
    display: flex;
}
.slider_title_widget {
    font-family: itty;
    font-size: 1.4em;
    margin-left: 18px;
    margin-top: auto;
    margin-bottom: auto; 
    color: black;
}
.slider_displayer_widget {
    margin: auto;
    display: flex;
    height: 100%;
    width: 96%;
    min-height: 100px;
    text-align: left;
    padding: 2%;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}
.slider_displayer_widget > .loader_img {
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.slider_el_widget {
    width: auto;
    border-radius: 15px;
    margin-right: 10px;
    text-align: center;
    box-shadow: black 0px 0px 14px -10px;
    transition: all 400ms;  
    display: none;
    cursor: pointer;
}
.slider_el_widget:hover {
    box-shadow: black 0px 0px 23px -10px;
}
.slider_el_widget:hover > img, .slider_el_widget:hover > .slider_image_loading {
    transform: scale(1.07, 1.07);
}
.slider_el_widget > img {
    width: auto;
    height: 210px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 21px -9px;
    min-width: 130px;
    display: none; 
    transition: all 250ms;
}

.slider_text_widget {
    font-size: 16px;
    line-height: 16px;
    word-wrap: break-word;
    font-family: teen;
    color: white;
}
.slider_image_loading {
    width: auto;
    height: 210px;  
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 21px -9px;
    min-width: 130px;
    background: rgb(53, 53, 53);
    background: linear-gradient(to right, rgb(53, 53, 53) 8%, rgb(70, 70, 70) 38%, rgb(53, 53, 53) 54%);
    background-size: 100em 100em;
    animation: image_loading linear 1s infinite forwards;
    -moz-animation: image_loading linear 1s infinite forwards;
    transition: all 250ms;
}
@media only screen and (max-width: 500px) {
    .slider_text_widget {
        font-size: 12px; 
    }
    .slider_el_widget > img {
        height: 150px !important;
        min-width: 100px;
    }
    .slider_image_loading {
        height: 150px !important;
        min-width: 100px;
    }
}

/* !!! WIDGET !!! */
